
.container {
    display: flex;
    
    /* flex-direction: row; */
    flex: 0 0 75%;
    margin: 50px
}

.button1{
    padding: 50px
}
.button2{
    padding: 50px
}
.button3{
    padding: 50px
}
.button4{
    padding: 50px
}
.button5{
    padding: 50px
}
.button6{
    padding: 50px
}
.button7{
    padding: 50px
}
.button8{
    padding: 50px
}
.button9{
    padding: 50px
}
.button10{
    padding: 50px
}



